html {
  font-size: 15px;
}
body {
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 14px;
}
.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: "Open Sans",sans-serif;
}
code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    font-size: 0.875em;
}
.wy-nav-top {
  background: #000;
}
th p {
  margin-bottom: 0;
}
.new {
  font-weight: bold;
  font-size: 80%;
  background-color: #27ae60;
  border: 1px solid #208050e6;
  color: white;
  display: block;
  border-radius: 4px;
  float: right;
  padding: 3px;
  margin: 4px 0px 10px 10px;
}
.new-prev {
  background-color: unset;
  color: gray;
  border-color: gray;
}
.grey{
  color: grey;
}
.red{
  color: #DB4437;
}
.green{
  color: #0F9D58;
}
.yellow{
  color: #F4B400;
}
.orange{
  color: #FF8C00;
}
.blue{
  color: #4285F4;
}
.magenta{
  color: magenta;
}
.mouse {
  color: #cbd3e9;
  border: 1px solid #7fbbe3;
  background: #7da4bf;
  font-size: 80%;
  font-weight: 700;
  border-radius: 4px;
  padding: 2.4px 6px;
  margin: auto 2px;
}
dl.simple, ol.simple, ul.simple {
  list-style: disc;
  margin-left: 1em;
  margin-bottom: 1em;
}
ul.simple > li {
  list-style: disc;
}
li p {
  margin-bottom: 0;
}
.command {
  font-family: monospace;
  font-size: 0.9em;
  color: #e74c3c;
}
.tight-table td {
  white-space: normal !important;
}
.video {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
}
span.guilabel {
  color: #5B8AA9;
}
div.admonition > p.admonition-title {
  border-radius: 0.8em 0.8em 0 0;
  background-color: #0F9D58 !important;
}
div.admonition {
  border-radius: 0.8em;
  background-color: #d1f2e2 !important;
  color: #505050;
}

div.admonition-docs > p.admonition-title:before {
  content: "\f02d" !important;
}
div.admonition-docs > p.admonition-title {
  background-color: #686868 !important;
}
div.admonition-docs {
  background-color: #DDDDDD !important;
}
html[data-theme="dark"] .wy-nav-content {
    background-color: #101010 !important;
}
.wy-nav-content {
    background: #edf0f2;
    max-width: 950px;
}
html[data-theme="dark"] .wy-menu-vertical li.toctree-l1.current > a, html[data-theme="dark"] .wy-menu-vertical li.current a {
    border-color: #141414;
}
